.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    max-width: 80%;
    background-color: #F2F2F2;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}